<div class="container">
        <div class="card card-body">
                <h3>{{title}}</h3>
                <h4>新增商品顏色</h4>
                <h6>目前商品數量：{{productName.length}}</h6>
                <form action="/admin/product/admin_product_add_2" method="POST">
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Product name</label>
                    <select name="itemName" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                      <option selected>Choose...</option>
                      {{#each productName}}
                      <option value="{{id}}">{{title}}</option>
                      {{else}}
                      <option value="1">No Product</option>
                      {{/each}}
                    </select>
                    <div class="form-group">
                        <label for="details">Colors</label>
                        <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="">Code and Name</span>
                                </div>
                                <input type="text" class="form-control" name="code" required>
                                <input type="text" class="form-control" name="name" required>
                        </div>
                        

                        {{!-- <label for="details">Colors 2</label>
                        <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="">Code and Name</span>
                                </div>
                                <input type="text" class="form-control" name="code">
                                <input type="text" class="form-control" name="name">
                        </div>
                        <label for="details">Colors 3</label>
                        <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="">Code and Name</span>
                                </div>
                                <input type="text" class="form-control" name="code">
                                <input type="text" class="form-control" name="name">
                        </div> --}}
                    </div>
                    
                    <!-- <div class="form-check form-check-inline">
                        <label for="details">Sizes</label>
                        <input type="checkbox" class="form-check-input" id="defaultCheck1" name="Sizes-xs">
                        <label class="form-check-label" for="defaultCheck1">XS
                        <input type="checkbox" class="form-check-input" id="defaultCheck2" name="Sizes-s">
                        <label class="form-check-label" for="defaultCheck2">S
                        <input type="checkbox" class="form-check-input" id="defaultCheck3" name="Sizes-m">
                        <label class="form-check-label" for="defaultCheck3">M
                        <input type="checkbox" class="form-check-input" id="defaultCheck4" name="Sizes-l">
                        <label class="form-check-label" for="defaultCheck4">L
                        <input type="checkbox" class="form-check-input" id="defaultCheck5" name="Sizes-xl">
                        <label class="form-check-label" for="defaultCheck5">XL
                    </div> -->
                    
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <a href="/admin/product/manage" class="btn btn-dark">管理頁面</a>
            </div>
        </div>